Screen {
    background: #0a0e14;
    overflow: hidden;
    layers: base notifications;
}

#main-container {
    width: 1fr;
    height: 1fr;
    layer: base;
}

#footer-bar {
    dock: bottom;
    height: 1;
    background: #0a0e14;
    border-top: heavy #003344;
    color: #607080;
    padding: 0 1;
}

#telemetry {
    height: 1;
    background: #0a0e14;
    margin: 0 1;
    padding: 0 1;
    color: #607080;
}
